# Python virtual env
aayu/

# Python cache
__pycache__/
*.pyc

# HuggingFace
.cache/
huggingface/

# Model files
*.bin
*.safetensors
*.pt
*.pth

# Environment variables
.env

# Node
node_modules/

# Build outputs
dist/
build/

# Chroma DB
backend/chroma_db/

# Test outputs
*_results.json
output_test.txt
rest_output.json

# TS cache
*.tsbuildinfo